  
@model LogbookUI.Models.HomeViewModel
@{
    ViewBag.Title = "Home";
}
  
@if (Model.Announcements.Length > 0)
{
    <table>
        @foreach (var a in Model.Announcements)
        {
            <tr>
                <td>
                    <h3>@a.Title</h3>
                    <p>@a.Body</p><a href="~/Announcement/@a.AnnouncementId">Read More...</a>
                </td>
            </tr>
        }
    </table>
}